[submodule "basestation_ws/src/mapviz"]
	path = basestation_ws/src/mapviz
	url = https://github.com/ICE9-Robotics/mapviz.git
	branch = ice9-master
[submodule "basestation_ws/src/nmea_msgs"]
	path = basestation_ws/src/nmea_msgs
	url = https://github.com/tmxkn1/nmea_msgs.git
	branch = master
[submodule "basestation_ws/src/unitree_ros_to_real"]
	path = basestation_ws/src/unitree_ros_to_real
	url = https://github.com/ICE9-Robotics/unitree_ros_to_real.git
	branch = unitree_go1
[submodule "basestation_ws/src/joystick_drivers"]
	path = basestation_ws/src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
	branch = melodic-devel
[submodule "basestation_ws/src/teleop_twist_joy"]
	path = basestation_ws/src/teleop_twist_joy
	url = https://github.com/ICE9-Robotics/teleop_twist_joy.git
	branch = indigo-devel-omni
[submodule "basestation_ws/src/unitree_ugi_diagnostics"]
	path = basestation_ws/src/unitree_ugi_diagnostics
	url = https://github.com/ICE9-Robotics/unitree_ugi_diagnostics.git
[submodule "basestation_ws/src/mjpeg_cam"]
	path = basestation_ws/src/mjpeg_cam
	url = https://github.com/rsmohamad/mjpeg_cam.git
